<header>
    <div class="container-fluid">
      <section class="main row">
        <article class="col-md-12">
          <span class="glyphicon glyphicon-ok"></span> Bienvenidos, echa un vistazo y no dudes en preguntarnos, estamos
          para ayudarte.
        </article>
        <div id="header" class="col-md-12">
          <article class="col-md-2 col-md-offset-1">
            <h1>Plugwalk</h1>
          </article>
          <div id="botonesheader">
            <article class="col-md-6 col-md-offset-1">
              <div class="btn-group-lg">
                <button class="btn btn-default"><a routerLink="/news">News</a></button>
                <button class="btn btn-default col-md-offset-1">Drops</button>
                <button class="btn btn-default col-md-offset-1">Raflles</button>
                <button class="btn btn-default col-md-offset-1">Proxy</button>
              </div>
            </article>
          </div>
          <article class="col-md 1">
            <span class="glyphicon glyphicon-user"><a routerLink="/login">Inicio Sesión / Registro</a></span>
          </article>
        </div>
      </section>
    </div>
  </header>