<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>FrontendOK</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- HEADER-->
  <header>
    <div class="container-fluid">
      <section class="main row">
        <article class="col-md-12">
          <span class="glyphicon glyphicon-ok"></span> Bienvenidos, echa un vistazo y no dudes en preguntarnos, estamos
          para ayudarte.
        </article>
        <div id="header" class="col-md-12">
            <article class="col-md-2 col-md-offset-1">
                  <h1>Plugwalk</h1> 
              </article>
              <div id="botonesheader">
                  <article class="col-md-6 col-md-offset-1">
                      <div class="btn-group-lg">
                        <button class="btn btn-default">News</button>
                        <button class="btn btn-default col-md-offset-1">Drops</button>
                        <button class="btn btn-default col-md-offset-1">Raflles</button>
                        <button class="btn btn-default col-md-offset-1">Proxy</button>
                      </div>
                    </article>
              </div>
              <article class="col-md 1">
                <span class="glyphicon glyphicon-user"><a routerLink="">Inicio Sesión/Registro</a></span>
              </article>
        </div>
      </section>
    </div>
  </header>
  <br/><br/>
  <!-- Body-->
  <div class="container">
            <!--
          <img class="img-responsive" src="'assets/img/hypebeast.jpg'"  width="460" height="345">
        -->
    <section class="main row">
      <article class="col-sm-12 col-md-8 col-md-offset-2">
        <img class="img-responsive" [src]="'../../assets/img/hypebeast.jpg'" />
        <br/><br/>
        <img class="img-responsive" [src]="'../../assets/img/hypebeast.jpg'" />
      </article>
      
      <article class="col-sm-12 col-md-8 col-md-offset-2">     
      </article>
    </section>
  </div>
</body>
</html>