    <br /><br />
    <!-- Body-->
    <div class="container">
        <!--
          <img class="img-responsive" src="'assets/img/hypebeast.jpg'"  width="460" height="345">
        -->
        <section class="main row">
            <div id="cuadroregister">
                <article class="col-sm-12 col-md-8 col-md-offset-5">
                    <div id="titulo" class="col-md-offset-1">
                        <h3>Regístrate</h3>
                    </div>
                    Nombre: <input type="text"><br/>
                    Apellidos: <input type="text"><br/>
                    Fecha nacimiento: <input type="date"><br/>
                    Dirección: <input type="text"><br/>
                    Email: <input type="email"><br/>
                    Contraseña: <input type="password"><br/>
                    <button (click)="login()">Iniciar Sesión</button>
                </article>
            </div>
        </section>
    </div>
    <br /><br /><br /><br /><br /><br /><br />